<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C.D.B</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- INICIO BARRA MENU SUPERIOR -->
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background: #0d0d0d;">

      <div class="container">
        <a class="navbar-brand" href="../index.html">Comunidad Deportiva de Bogotá</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../model/login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contactanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Foro
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="blog-post.html">Comunidad</a>
                <a class="dropdown-item" href="blog-home-1.html">Discuciones</a>
                <a class="dropdown-item" href="blog-home-2.html">Noticias</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">Deportes</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Eventos</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Lugares</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- INICIO LUGARES -->
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->

    <div class="container">

      <h1 class="mt-4 mb-3">Lugares</h1>
      
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/sim.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Parque Metropolitano Simón Bolívar</a>
              </h4>
              <p class="card-text">En este parque podras encontrar varios deportes interesantes.En este parque podras practicar algun deporte que te llame la atención. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/par.jpg" border="0" width="700" height="226" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Parque Nacional</a>
              </h4>
              <p class="card-text">LEl lugar ideal para internarse en la tranquilidad de la naturaleza y estar cerca de la ciudad donde puedes practicar deporte sin ningun problema.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/tun.jpg" border="0" width="700" height="226" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Parque Metropolitano el Tunal</a>
              </h4>
              <p class="card-text">En este gran parque podras encontrar varios tipos de deportes como futbol, patinaje, BMX y mucho mas ve y drisfruta.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/vol.png"  border="0" width="700" height="270" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Liga de Voleibol en Bogotá</a>
              </h4>
              <p class="card-text">encargada de la organización de los clubes y torneos de voleibol en la ciudad. Encargada de enviar la delegación que representa a la ciudad en los torneos nacionales. Ofrece cursos y grupos de formación para desarrollar habilidades en este deporte.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/fcb.png" border="0" width="700" height="270" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Escuela de futbol Barcelona D.C.</a>
              </h4>
              <p class="card-text">Si usted prefiere una formación con metodología europea, una de las opciones es el Barcelona D.C. con cinco sedes en Bogotá. La matrícula este año tiene un precio de $220.000 y la mensualidad entre $100.000 y $140.000.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../img/EscBal.jpg" border="0" width="700" height="270" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">TWS Team Work Sports</a>
              </h4>
              <p class="card-text">Nace de la necesidad de brindarle a Bogotá una posibilidad diferente de hacer baloncesto, ofrecer un estilo de vida basado en el compromiso, el trabajo en equipo y la disciplina además de oportunidades para la comunidad en general.</p>
            </div>
          </div>
        </div>
      </div>

      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>

    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- INICIO BARRA INFERIOR INF -->
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->

    <footer class="py-5 " style="background: #0d0d0d;">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
